<div class="clients-container">
  <div class="clients-header">
    <h2>Clients</h2>
    <div class="header-actions">
      <nz-input-group [nzSuffix]="suffixIcon" class="search-input">
        <input
          nz-input
          [formControl]="filterControl"
          placeholder="Search clients..."
        />
      </nz-input-group>
      <ng-template #suffixIcon>
        <span nz-icon nzType="search"></span>
      </ng-template>
      
      <button nz-button nzType="primary" (click)="openNewClientModal()">
        <span nz-icon nzType="plus"></span>
        New Client
      </button>
    </div>
  </div>

  @if (loading()) {
    <div class="loading-container">
      <nz-spin nzTip="Loading clients..."></nz-spin>
    </div>
  } @else if (loadingError()) {
    <div class="error-container">
      <p>{{ loadingError() }}</p>
    </div>
  } @else {
    @if (operationError()) {
      <nz-alert 
        nzType="error" 
        [nzMessage]="operationError()" 
        nzShowIcon 
        nzCloseable
        (nzOnClose)="clearOperationError()"
        class="operation-error-alert"
        style="margin-bottom: 16px;">
      </nz-alert>
    }
    
    <nz-table
      #clientsTable
      [nzData]="clients()"
      [nzTotal]="totalItems()"
      [nzPageIndex]="currentPage()"
      [nzPageSize]="itemsPerPage()"
      [nzFrontPagination]="false"
      [nzShowSizeChanger]="true"
      [nzPageSizeOptions]="[5, 10, 20, 30, 50]"
      [nzBordered]="true"
      (nzPageIndexChange)="onPageChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th nzColumnKey="name" [nzSortFn]="true">Name</th>
          <th nzColumnKey="taxIdentificationNumber" [nzSortFn]="true">Tax ID</th>
          <th nzColumnKey="phoneNumber" [nzSortFn]="true">Phone</th>
          <th nzColumnKey="address" [nzSortFn]="true">Address</th>
          <th nzWidth="120px">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clientsTable.data">
          <td>{{ client.name }}</td>
          <td>{{ client.taxIdentificationNumber || '-' }}</td>
          <td>{{ client.phoneNumber || '-' }}</td>
          <td>{{ client.address }}</td>
          <td class="action-buttons">
            <button 
              nz-button 
              nzType="link" 
              nzSize="small"
              (click)="openEditClientModal(client)"
              nz-tooltip
              nzTooltipTitle="Edit client"
            >
              <span nz-icon nzType="edit"></span>
            </button>
            <button 
              nz-button 
              nzType="link" 
              nzDanger 
              nzSize="small"
              (click)="confirmDeleteClient(client)"
              nz-tooltip
              nzTooltipTitle="Delete client"
            >
              <span nz-icon nzType="delete"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  }
</div> 