<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <div class="header-content">
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item nzSelected>nav 1</li>
        <li nz-menu-item>nav 2</li>
        <li nz-menu-item>nav 3</li>
      </ul>
      <div class="auth-buttons">
        @if ((isLoggedIn | async) === false) {
          <a nz-button nzType="primary" routerLink="/login">
            Login
          </a>
        } @else {
          <button nz-button nzType="default" (click)="logout()">
            Logout
          </button>
        }
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item nzSelected>
          <span nz-icon nzType="pie-chart" nzTheme="outline"></span>
          <span><a routerLink="/dashboard"> dashboard </a></span>
        </li>
        <li nz-submenu nzTitle="Ventes" nzIcon="user">
          <ul>
            <li nz-menu-item><a routerLink="/quotes">Devis</a></li>
            <li nz-menu-item><a routerLink="/delivery-notes">Bon de livraison</a></li>
            <li nz-menu-item>Facture</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Achats" nzIcon="laptop">
          <ul>
            <li nz-menu-item>Bon de réception</li>
            <li nz-menu-item>Facture</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Stock" nzIcon="notification">
          <ul>
            <li nz-menu-item>Bon d'entrée</li>
            <li nz-menu-item>Bon de sortie</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Données de base" nzIcon="user">
          <ul>
            <li nz-menu-item><a routerLink="/users"> Users </a></li>
            <li nz-menu-item><a routerLink="/products"> Products </a></li>
            <li nz-menu-item><a routerLink="/clients"> Clients </a></li>
            <li nz-menu-item><a routerLink="/vat"> VAT Rates </a></li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>Ventes</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bon de livraison</nz-breadcrumb-item>
        <nz-breadcrumb-item>BL #1</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content> <router-outlet></router-outlet> </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
